<!DOCTYPE html> <!-- medida de "segurança" que impede o navegador de acidenalmente confudir o arquivo -->
<html> <!--sempre que escrevemos um código HTML é necessário que essa tag exista. Questões de hierarquia. Tudo do código HTML vai dentro dela-->
  <head>
    <title>pagina de produtos</title>
  </head>
  <body>
    <h1>
      produtos
    </h1>
    <p>Paragrafo</p>
  </body>
</html>

<!-- 
  HTML é uma linguagem de marcação. Não posusi logica. Serve apenas para mostrar um conteúdo.
  Um contedo HTML é tudo o que está dentro de uma tag <p> elemento </p> 
  Tag é aquilo que vai entre <> : <tag tal> </fechando tag tal>
  Elemnto é o conunto de tag + conteúdo: <p> my dog is very smoll </p>

A diferença do .html e do .ejs é que o arquivo .html não consegue se comuicar com arqivos no formtado .js
.html é um código ESTÁTICO
.ejs é uma extensão para usarmos lógica em html

-->